<div class="search-form mt-4">
    <form method="POST" >
        <div class="form-group">
            <label for="searchInput">Từ Khoá</label>
            <input type="text" name="q" class="form-control" id="searchInput" aria-describedby="emailHelp" placeholder="Enter từ khoá">
        </div>
        <button type="submit" class="btn btn-primary">Tìm Kiếm</button>
    </form>
</div>